---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/118340?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9b9aeff3aeb5d0e1f4e259c64a1bac7f2775696c
      X-Memc-Age:
      - '16867'
      X-Memc-Expires:
      - '60'
      Etag:
      - W/"6edfd18a14a32d47ac0193bf748f44cf"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/ko4N6wWp0UYlMmsVyfIfLyRAZtP.jpg","belongs_to_collection":{"id":284433,"name":"Guardians
        of the Galaxy Collection","poster_path":"/iL8mukexAqEg0xK783rG561tdd8.jpg","backdrop_path":"/jdyyjulTBU8YUYAUvQFj6U1g2Pj.jpg"},"budget":170000000,"genres":[{"id":28,"name":"Action"},{"id":878,"name":"Science
        Fiction"},{"id":12,"name":"Adventure"}],"homepage":"http://marvel.com/guardians","id":118340,"imdb_id":"tt2015381","original_language":"en","original_title":"Guardians
        of the Galaxy","overview":"Light years from Earth, 26 years after being abducted,
        Peter Quill finds himself the prime target of a manhunt after discovering
        an orb wanted by Ronan the Accuser.","popularity":63.397,"poster_path":"/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg","production_companies":[{"id":420,"logo_path":"/hUzeosd33nzE5MCNsZxCGEKTXaQ.png","name":"Marvel
        Studios","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2014-07-30","revenue":772776600,"runtime":121,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"All
        heroes start somewhere.","title":"Guardians of the Galaxy","video":false,"vote_average":7.9,"vote_count":23225}'
  recorded_at: Tue, 19 Oct 2021 02:26:04 GMT
recorded_with: VCR 6.0.0
